<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
      <add name="dbi298845_postalcodeImport" connectionString="Server=mssql.fhict.local;initial catalog=dbi298845_prangers;User ID=dbi298845_prangers;Password=8JZJDnlQ5ppb;MultipleActiveResultSets=True;" />
      <add name="dbi298845_prangersEntities" connectionString="metadata=res://*/MarioPizzaModel.csdl|res://*/MarioPizzaModel.ssdl|res://*/MarioPizzaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mssql.fhict.local;initial catalog=dbi298845_prangers;user id=dbi298845_prangers;password=8JZJDnlQ5ppb;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>